body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.login-with-google-btn {
  transition: background-color .3s, box-shadow .3s;
  width: 20rem;
  height: 5rem; 
  padding: 12px 16px 12px 42px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
  margin-top: 200px;
  color: #000000;
  font-size: 20px;
  font-weight: 500;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
  background-color: #f2f1f1;
  background-repeat: no-repeat;
  background-position: 3rem 2rem;
}
  .login-with-google-btn:hover {
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 2px 4px rgba(0, 0, 0, .50);
    cursor: pointer;
  }
  
  .login-with-google-btn:active {
    background-color: #eeeeee;
  }
  
  .login-with-google-btn:focus {
    outline: none;
    box-shadow: 
      0 -1px 0 rgba(0, 0, 0, .04),
      0 2px 4px rgba(0, 0, 0, .25),
      0 0 0 3px #c1c5cc;
  }
  
  .login-with-google-btn:disabled {
    filter: grayscale(100%);
    background-color: #ebebeb;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
    cursor: not-allowed;
  }

  .intro-block {
   
    text-align: center;
    padding-top: 10px;
  }
  .intro-block .btn {
    background-color: teal;
    margin-top: 40px;
  }
  .intro-block .monitor {
    width: 80%;
    background-color: #ffffff;
    margin: 0 auto;
  }
  
  .intro-block svg {
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
    transition: all 0.5s ease-in-out;
  }
  
  .intro-block svg .ekg {
    fill: none;
    stroke:teal;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: miter;
    opacity: 0;
    stroke-dashoffset: 1000;
    stroke-dasharray: 1000;
    animation: ekg 1.5s linear forwards infinite;
  }
  
 
  
  
  @keyframes ekg {
      0% {
        opacity: 0;
      }
      25% {
        opacity: 1;
      }
      50% {
        stroke-dashoffset: 2000;
      }
      99% {
        opacity: 0;
        stroke-dashoffset: 3000;
      }
      100% {
        stroke-dashoffset: 1000;
      }
  }
  
  /*mayank's css*/

  .section-white {
    background: #fff;
    padding: 15px 0;
  }
  
  .team-item {
    background: #f4f5f6;
    text-align: center;
    margin: 20px 0;
    padding: 50px 20px 40px 20px;
    border-radius: 8px 8px;
    height:70vh;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
  }
  
  .team-item:hover {
    background: #3956de;
    color: white;
  }
  
  .team-item h3 {
    margin: 20px 0 1px 0 !important;
    color: #454545;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
  }
  
  .section-subtitle {
    white-space: pre-line;
  }
  .section-title {
    font-family: 'consolas';
    font-weight: bold;
  }
  
  .team-item:hover h3 {
    color: #ddd;
  }
  
  .team-info {
    display: block;
    margin-bottom: 0;
  }
  
  .team-info p {
    color: #acacac;
    font-style: italic;
  }
  
  .team-info::after {
    background: #008aff;
    background: -webkit-linear-gradient(135deg, #6B02FF 0%, #985BEF 100%);
    background: -o-linear-gradient(bottom right, #6B02FF, #985BEF);
    background: -moz-linear-gradient(bottom right, #008aff, #1ad2fd);
    background: linear-gradient(135deg, #6B02FF 0%, #985BEF 100%);
    display: inline-block;
    vertical-align: middle;
    content: "";
    width: 50px;
    height: 3px;
  }
  
  .team-img {
    max-width: 140px;
    padding: 6px 6px;
    background-color: #dedede;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  }
  
  ul.team-icon {
    margin-top: 25px;
  }
  
  ul.team-icon li {
    display: inline-block;
    margin: 0 3px;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
  }
  
  ul.team-icon li a {
    margin: 0;
    display: inline-block;
    padding: 8px 8px;
    width: 34px;
    height: 34px;
    font-size: 18px;
    line-height: 18px;
    background-color: #fff;
    border-radius: 50%;
    color: #fff;
  }
  
  ul.team-icon li a.twitter {
    background-color: #4099ff;
  }
  
  ul.team-icon li a.pinterest {
    background-color: #C92228;
  }
  
  ul.team-icon li a.facebook {
    background-color: #3b5998;
  }
  
  ul.team-icon li a.dribble {
    background-color: #ea4c89;
  }
  
  .team-icon li a:hover {
    color: #dedede;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
  }
  
  * {
    box-sizing: border-box;
  }
  
  /* Create two equal columns that floats next to each other */
  .column1 {
    float: left;
    width: 30%;
    padding: 10px;
  
  }
  
  .column2 {
    float: left;
    width: 70%;
    padding: 10px;
  
  }
  
  .column {
    float: left;
    width: 50%;
    padding: 10px;
  
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column1 {
      width: 100%;
    }
    .column2 {
      width: 100%;
    }
    .column {
      width: 100%;
    }
  }
  
  .gradient-border-rounded,
  .gradient-border {
    /* display: flex; */
    /* text-align: center; */
    /* font-size: 1.8rem; */
    background: #dce0ff;
    padding: 20px;
  }
  
  .gradient-border-rounded span,
  .gradient-border span {
    margin: auto;
  }
  
  /* --- Градієнтна рамка --- */
  
  .gradient-border {
    width: 12rem;
    height: 6rem;
    border: 0.6rem solid;
    border-image-source: linear-gradient(120deg, #40c9ff 0%, #e81cff 100%);
    border-image-slice: 1;
  }
  
  /* --- Градієнтна рамка з заокругленням --- */
  
  .gradient-border-rounded {
    position: relative;
    border-radius: 4rem;
    /* width: 12rem; */
    /* height: 6rem; */
  }
  
  .gradient-border-rounded::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 3rem;
    padding: 0.5rem;
    /* тут padding замість border-width */
    background: linear-gradient(120deg, #40c9ff 0%, #e81cff 100%);
    /* 
    * Магічні властивості, де
    * [1] – охоплює лише область вмісту (без padding, який в нас замість border)
    * [2] – охоплює всю площину елемента
    * [3] – це виключить перший шар із другого, тож видимою буде лише область заповнення
    */
    -webkit-mask:
      linear-gradient(#fff 0 0) content-box,
      /* [1] */
      linear-gradient(#fff 0 0);
    /* [2] */
    -webkit-mask-composite: xor;
    /* [3] для підтримки браузерів */
    mask-composite: exclude;
    /* [3] */
  }